[submodule "lib/airplay"]
	path = lib/airplay
	url = https://github.com/uncor3/airplay
[submodule "lib/ipatool-go"]
	path = lib/ipatool-go
	url = https://github.com/uncor3/libipatool-go.git
[submodule "lib/zupdater"]
	path = lib/zupdater
	url = https://github.com/uncor3/ZUpdater
[submodule "lib/win-ifuse"]
	path = lib/win-ifuse
	url = https://github.com/uncor3/win-ifuse.git
[submodule "lib/idevice-rs"]
	path = lib/idevice-rs
	url = https://github.com/jkcoxson/idevice.git
[submodule "lib/ztoast"]
	path = lib/ztoast
	url = https://github.com/niklashenning/qt-toast.git
